doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Git으로 살펴보는 오픈소스 개발 문화

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    link(rel='stylesheet', type='text/css', href='styles/ti.css')
    // endbuild

    link(rel="stylesheet", href="bower_components/octicons/octicons/octicons.css")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css")
  body
    div(id="fb-root")
    script.
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&appId=294097790751111&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    - var smallTitle ='';
    article#main-article
      section(data-bespoke-state='reveal')
        //- span.small_title.txt_L
        //-   i.fa.fa-warning
        //-   |  좌우 방향키로 페이지 이동하세요.(모바일은 좌우 swipe)
        //-   br
          //- <div class="fb-like" data-href="http://yomybaby.github.io/gitlecture" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
        h1
          i.fa.fa-git
          | 으로 살펴보는
          br
          | 오픈소스 개발 문화
        h3 Yo Studio
        h5 이종은
        br
        h5 2014.09.25

      section(data-bespoke-state='emphatic')
        h2 이종은 = 개발자
        aside.
          초등학교 3학년때 컴퓨터학원에서 처음 배운 x86 계열의 pc, basic
      section(data-bespoke-state='emphatic')
        h2 이종은 = 소프트웨어 개발자
      section(data-bespoke-state='emphatic')
        h2 이종은 = 어플리케이션 개발자
      section(data-bespoke-state='emphatic')
        h2 여러분?
      section(data-bespoke-state='emphatic')
        h2 여러분 = 비 개발자
      section(data-bespoke-state='emphatic')
        h3 강의 경험
        h1 개발자 > 
          span(style="font-size:0.5em") 비개발자
      section(data-bespoke-state='whatisthis')
        h1 긴장되요.
        ul.bullet
          li.bullet 극복가능성1. 비개발자 분들의 환한 미소
          li.bullet 극복가능성2. 남자와 여자의 균형적 성비
      section(data-bespoke-state='emphatic')
        h2 무슨 이야기를 하지?
        aside.
          - 처음 강의요청을 받고...
          - 제가 법쪽 지식을 아는 사람도 아니고 개발자이기에 요청.
          - 개발자의 이야기를 들려주길 바람.
          - 비개발자 대상으로 개발적인 이야기를 하는 것은 처음
          - 그렇다고 개발의 디테일을 얘기하는 것이 아니라 개발
      section(data-bespoke-state='emphatic')
        h2 여러분에게 도움이 될만한 것은?
      section(data-bespoke-state='emphatic')
        h2 솔직히 잘 모르겠습니다.
      section(data-bespoke-state='emphatic')
        h2 지적재산권 법무전공
        img.w500(src="./images/ys_0.jpg")
      section(data-bespoke-state='emphatic')
        h2 지적재산권 법무전공
        img.w500(src="./images/ys.jpg")

      section(data-bespoke-state='emphatic')
        h2 여러분이 오늘 저랑 얘기하면서 얻어갔으면 하는 것은..
        ul.bullet
          li.bullet 개발자 그리고 개발자 문화를 좀더 이해하는 계기
          li.bullet 오픈소스 개발자 문화가 개발자 세계가 아닌 다른 곳에도 적용할수 있는 가능성

      section(data-bespoke-state='emphatic')
        h2 이야기에 앞서..
        aside.
          이야기에 앞서 오해를 줄이기위해 나는 어떤사람인가를 먼저 소개
          - 이유? 먼저 양해를 구하는겁니다.
          - 제가 이상한 소리를 해도 저 사람입장에서는 저럴수도 있겠구나 생각해주십사하고 저를 소개
          - 저의 깨알 같은 제 PR시간이 될수도 있겠죠.

      section(data-bespoke-state='emphatic')
        img.w400(src="./images/cc.svg")
      section(data-bespoke-state='emphatic')
        img.w400(src="./images/opensource.svg")
      section(data-bespoke-state='emphatic')
        img.w400(src="./images/yo.svg")
        h2
          i.fa.fa-mobile &nbsp;
          i.fa.fa-tablet &nbsp;
          i.fa.fa-laptop &nbsp;
          i.fa.fa-desktop

      section(data-bespoke-state='reveal')
        //- span.small_title.txt_L
        //-   i.fa.fa-warning
        //-   |  좌우 방향키로 페이지 이동하세요.(모바일은 좌우 swipe)
        //-   br
          //- <div class="fb-like" data-href="http://yomybaby.github.io/gitlecture" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
        h1
          i.fa.fa-git
          | 으로 살펴보는
          br
          | 오픈소스 개발 문화

      - smallTitle = "파일과 함께하는 일상"
      section(data-bespoke-state='reveal',data-bespoke-hash="withfile")
        h1
          i.fa.fa-file-text.fa-3x
        h3= smallTitle
      section(data-bespoke-state='emphatic')
        span.small_title= smallTitle
        h2 
          i.fa.fa-user.pull-left
          | 일상 업무
        ui.fa-ul.bullet
          li.bullet
            i.fa-li.fa.fa-file-text-o 
            | 파일 생성
          li.bullet 
            i.fa-li.fa.fa-pencil-square-o
            | 파일 수정
          li.bullet
            i.fa-li.fa.fa-floppy-o
            | 파일 저장
          li.bullet
            i.fa-li.fa.fa-repeat.fa-lg
            i.fa.fa-pencil-square-o.fa-2x
            | 
            i.fa.fa-floppy-o.fa-2x

      section(data-bespoke-state='emphatic')
        span.small_title= smallTitle
        h2 
          i.fa.fa-warning.red
          |  긴급 상황 발생
        ui.fa-ul.bullet
          li.bullet
            i.fa-li.fa.fa-frown-o
            | 잘못된 내용으로 수정
          li.bullet
            i.fa-li.fa.fa-frown-o
            | 삭제
          li.bullet
            i.fa-li.fa.fa-frown-o
            | 파일 덮어 쓰기
          li.bullet
            i.fa-li.fa.fa-frown-o
            | 컴퓨터 분실

      section(data-bespoke-state='emphatic')
        span.small_title= smallTitle
        h2.bullet Q. 대비책이 있나요?
        //- h3.bullet A. 네 저는 이미 파일 잘 하고 있어요.
        img.bullet(src="filename.jpg") 

      section(data-bespoke-state='emphatic')
        span.small_title= smallTitle
        h2.bullet 우리는 누구? 인간!
        h3.bullet 인간은 도구를 사용하는 동물

      - smallTitle = '파일 관리 도구의 탄생'
      section(data-bespoke-state='reveal',data-bespoke-hash="toolHistory")
        h1
          i.fa.fa-wrench.fa-3x
        h3= smallTitle

      section(data-bespoke-state='emphatic')
        span.small_title= smallTitle
        h2 도구의 구분
        h3 Revision History Tracker :
        p
          i.fa.fa-google
          a(href="https://docs.google.com/a/yomybaby.com/document/d/1G-z2Q8_kAgv3qfBQ6te5c81ZdbjgMQ89vLLROb0R-dk/edit",target="_blank")  google 문서의 '업데이트 기록보기', 
          i.fa.fa-wordpress
          a(href="https://yomybaby.wordpress.com/wp-admin/revision.php?revision=304",target="_blank")  워드프레스 '리비전'
        br
        h3 Revision Control Software :
        p.bullet
          | Git, SVN, Perforce, Mecurial, CVS...
          img.w300(src="https://www.assembla.com/content/assets/img/content/products/features/vc-hosting.png")
        h4.bullet 둘의 차이가 뭐죠?

      section(data-bespoke-state='emphatic')
        h2 왜 사용하나요?
        ul.bullet.fa-ul
          li.bullet
            i.fa.fa-exclamation.fa-li
            | 무언가 잘못되었을 때 복구를 돕기 위해
          li.bullet
            i.fa.fa-exclamation.fa-li
            | 프로젝트 진행 중 과거의 어떤 시점으로 돌아갈 수 있게 하기 위해
          li.bullet
            i.fa.fa-exclamation.fa-li
            | 여러사람이 작업할 때 쉽게 합치기 위해
          li.bullet
            i.fa.fa-exclamation.fa-li
            | 누가 어떤 부분을 수정했는지 추적하기 위해
          li.bullet.red
            i.fa.fa-exclamation.fa-li
            | 안전하고 자유롭게 작업하기 위해
      section(data-bespoke-state='emphatic')
        span.small_title= smallTitle
        h2
          a(href="http://git-scm.com/") git-scm.com
        img.w500(src="Git.png")
      
      
      section(data-bespoke-state='emphatic')
        span.small_title= smallTitle
        h2.bullet SCM?
        h3.bullet Source Code Management
        br
        br
        h2.bullet 
          li.fa.fa-code
          |  Source Code?
        h3.bullet 네! 개발자를 위한 
          i.fa.fa-wrench
          |  도구입니다.


      section(data-bespoke-state='emphatic')
        span.small_title= smallTitle + " - git의 탄생"
        h2 리누스 토발즈
        img.w150(src="http://upload.wikimedia.org/wikipedia/commons/6/69/Linus_Torvalds.jpeg")
        br
        p.bullet
          i.fa.fa-linux.fa-3x.bullet
          | &nbsp;&nbsp;&nbsp;
          i.fa.fa-git.fa-3x.bullet
        p.small_font.bullet
          a(href="https://kldp.org/node/65588",target="_blank") Git을 만들게 된 이야기
          | , 
          a(href="http://git-scm.com/book/ko/%EC%8B%9C%EC%9E%91%ED%95%98%EA%B8%B0-%EC%A7%A7%EA%B2%8C-%EB%B3%B4%EB%8A%94-Git%EC%9D%98-%EC%97%AD%EC%82%AC",target="_blank") 짧게 보는 Git 역사

      
      - smallTitle="Git"
      section(data-bespoke-state='reveal',data-bespoke-hash="gitOverview")
        h1
          i.fa.fa-git.fa-3x
        //- h3= smallTitle

      section(data-bespoke-state='emphatic')
        span.small_title= smallTitle
        h2  git 그리고 github
        p.bullet
          i.fa.fa-git.fa-5x
          span.fa-stack.fa-5x(style="margin-top:-15%")
            | ==
          i.fa.fa-github.fa-5x
        i.fa.fa-ban.fa-stack.fa-5x.red.bullet(style="position:absolute;top:0;font-size:290px;top:-30px;")
      

      section(data-bespoke-state='emphatic')
        span.small_title= smallTitle
        h2
          i.fa.fa-git
          |  왜 좋은가?
        ul.big_ul.fa-ul.bullet
          li.bullet
            i.fa-li.fa.fa-smile-o
            | 빠르다
          li.bullet
            i.fa-li.fa.fa-smile-o
            | 안전하다
          li.bullet
            i.fa-li.fa.fa-smile-o
            | 자유롭다

      section(data-bespoke-state='emphatic')
        span.small_title.bullet= smallTitle
        h1
          i.fa.fa-desktop.fa-2x
        h4 빠르고 안전하고 자유로운 이유 1.
        h2
          span.light 거의
          |  모든 동작은
          br
          | 내 컴퓨터(Local)에서 동작한다.
      section(data-bespoke-state='emphatic')
        span.small_title= smallTitle
        h4 빠르고 안전하고 자유로운 이유 2.
        h2 분산버전 관리 시스템
        img.w400(src="./images/cent_dist.svg")
      section(data-bespoke-state='emphatic')
        span.small_title= smallTitle
        h1
          i.fa.fa-eye.fa-2x
        h4 빠르고 안전하고 자유로운 이유 3.
        h2
          i.fa.fa-git
          | 은 당신이 한 
          span.light 거의
          |  모든 일을
          br
          | 알고 있다.

      section(data-bespoke-state='reveal')
        h1
          i.fa.fa-github.fa-5x
        h3 github는 왜 성장 했을까?

      section(data-bespoke-state='emphatic')
        img.w400(src="./images/github_social.png")
        br
        h3 feeds, follow, star, wiki, social network graph 
      
      section(data-bespoke-state='emphatic')
        img.w600(src="./images/fokke.jpg")

      section(data-bespoke-state='emphatic')
        img.w500(src="./images/contributions.png")

      section(data-bespoke-state='emphatic')
        img.w600(src="./images/iloveoct.jpg")

      section(data-bespoke-state='emphatic')
        h2
          i.fa.fa-wrench.fa-4x &nbsp;
          i.fa.fa-caret-right.fa-3x &nbsp;
          i.fa.fa-group.fa-4x.red

      section(data-bespoke-state='reveal')
        h2
          i.fa.fa-cogs.fa-5x
        h3 도구가 개발 문화에 끼친 영향?

      section(data-bespoke-state='emphatic')
        h3.bullet 어떤 도구를 채택하면 
          br
          | 그 안에 내재된  
          span.red 운영철학
          | 도 함께 받아들이게 된다
        br
        h2.bullet Cooperation  
          span.red without
          |  Coordination

      section(data-bespoke-state='emphatic')
        h2
          i.fa.fa-5x.fa-lock
        h3 Permission Culture
        aside.
          허락은 받은 자만이 사용할 수 있는 문화 : 저작권
      section(data-bespoke-state='emphatic')
        h2
          i.fa.fa-5x.fa-unlock
        h3 Open Culture
        aside.
          누구나 자유롭게 이용 할 수 있는 문화 : Creative Commons, Open source
      section(data-bespoke-state='emphatic')
        h2 Github는 기본이 Open
        img.w500(src="./images/create_repo.png")

      section(data-bespoke-state='reveal')
        h1
          i.fa.fa-search.fa-5x
        h3 Github 들여다보기

      section(data-bespoke-state='emphatic')
        h1 Fork
        h2 누구나 소스를 볼 수 있으며 내
          br
          | 저장소에 fork해서 수정할 수 있다.
        aside.
          누구나 실제 원본에 영향을 미치지 않고 내 마음대로 수정(개선)할 수 있다.
      section(data-bespoke-state='emphatic')
        h1 Pull request
        h2 누구나 반영을 요청을 할 수 있고 
          br
          | 그것은 함께 공개적으로 논의 된다.
        aside.
          우리는 실생활에 이런 시스템이 있던가?
          요청 절차도 복잡하고 내 요청과 비슷한 요청이 얼마나 있는지 모르며 어떻게 진행되고 있는지 조차 알수 없다.
      section(data-bespoke-state='emphatic')
        h1 diff
        h2 차이점을 쉽게 비교할 수 있다.
        aside.
          보험약관을 보면 비슷하면서도 다르다. 근데 우리는 다른 차이점을 쉽게 비교할 수 있나?
      section(data-bespoke-state='emphatic')
        h1 link, mention
        h2 모두 연결할 수 있다.

      section(data-bespoke-state='reveal')
        h1 실제 예

      section(data-bespoke-state='emphatic')
        h2 iPhone 5
        img.w500(src="./images/iphone5.jpg")
      section(data-bespoke-state='emphatic')
        img.w200(src="./images/iphone_tall.jpg")
      section(data-bespoke-state='emphatic')
        img.w500(src="./images/iphone101.jpg")
      section(data-bespoke-state='emphatic')
        a(href="https://github.com/appcelerator/alloy/pull/263",target="_blank")
          img.w500(src="./images/gist.jpg")
      section(data-bespoke-state='emphatic')
        a(href="https://github.com/appcelerator/alloy/pull/263",target="_blank")
          img.w500(src="./images/alloy_pr.jpg")
        aside.
          - fork 해서 pull request 보냄
          - diff를 통해 다른 이들이 내 코드에 대해 쉽게 이해함
          - 논의의 시작 더 나은 아이디어
          - 투표까지
          - 결국에는 더나은 새로운 방식으로 다른 담당자에 의해서 구현
          - 실제 제품에 반영

      section(data-bespoke-state='reveal')
        h2 
          i.fa.fa-sort-alpha-asc.fa-4x
        h3 정리해보자면

      section(data-bespoke-state='emphatic')
        h3
          ul
            li.bullet 공개하고
            li.bullet 수정하고
            li.bullet 요청하고
            li.bullet 논의하고
            li.bullet 반영하는
        h3.bullet 이 모든 과정이
        h1.bullet Open Access


      section(data-bespoke-state='emphatic')
        h3 오픈하면
        h2 얻을 수 있어요
        h3
          ul.bullet
            li.bullet 버그 찾기
            li.bullet 아이디어와 해결책
        h2.bullet "보고 있는 눈이 충분히 많으면 찾지 못할 버그는 없다"
      section(data-bespoke-state='emphatic')
        h2 빠른 발전, 짧아져가는 생명주기
        h3 오픈하지 않으면...

      section(data-bespoke-state='emphatic')
        h1 아끼다
        h1 
          span.red 똥
          | 된다
        img.w200(src="./images/ddong.png")

      section(data-bespoke-state='emphatic')
        h2.bullet 당신의 쥐고 있는 그것은?
        h1.bullet 안녕할까요?
        img.w200.bullet(src="./images/ddong.png")

      section(data-bespoke-state='success success2')
        h1 감사합니다.
        ul
          li
            i.fa.fa-envelope
            a.white(href="mailto:jong@yostudio.kr")  jong@yostudio.kr
          li
            i.fa.fa-twitter
            a.white(href="https://twitter.com/yomybaby")  @yomybaby
      
    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/bespoke-tishadow/dist/bespoke-tishadow.js')
    script(src='bower_components/bespoke-run/dist/bespoke-run.js')
    //- script(src='bower_components/bespoke-jumpy/dist/bespoke-jumpy.js')
    //- script(src='bower_components/bespoke-dir/dist/bespoke-dir.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-52540803-1', 'auto');
      ga('send', 'pageview');
    script.
      //var is_chrome = navigator.userAgent.toLowerCase().indexOf('chrome') > -1;
      //if(!is_chrome) alert('크롬 브라우져로 보시길 권장합니다.');
